<div class="justify-content-centar">
    <div class="login">
        <div class="heading">
            <div class="container">
                <div class="col-lg-6 col-sm-12">
                    <h2>Sign in</h2>
                    <div class="card">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">User</label>
                                <input [disabled]="!estadoLogin" type="txt" class="form-control" name="txUser" [(ngModel)]="txUser">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input [disabled]="!estadoLogin" type="password" class="form-control" name="txPass" [(ngModel)]="txPass">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button *ngIf="estadoLogin" class="btn btn-primary" (click)="login()" [disabled]="!estadoLogin" >Login</button>
                            <button *ngIf="!estadoLogin"><div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>