
<BUtton (click)="open()" ><i class="fas fa-sliders-h"></i></BUtton>
<div class="col-sm-2 col-lg-2 bg-dark" style="height: 100%;" name="sideBar" *ngIf="sideEstado">
    <div class="justify-content-centar text-white">
        <h5  id="BtnSideBar" onclick='open();' > Menu tienda virtual </h5>
    </div>
    <br>
    <div class="justify-content-centar text-white">
        <div class="bg-dark">
            <ul>
                <li *ngFor="let item of listamen">
                    <div class="bg-dark" style="height: 50px;" >{{item.descripcion}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
